<footer class="d-flex flex-wrap justify-content-between align-items-center py-1 mt-5 border-top"
style="background: linear-gradient(0,#ffffff,#e3f2fd49); height: 78px;">
<p class="col-md-4 mb-0  text-dark">© 2021 Company, Inc</p>

<a href="/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <h4><i class="fa-solid fa-compass"></i> My Web Compass</h4>
</a>

<ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/add-category" class="nav-link px-2 text-dark fw-normal">Add Category</a></li>
      <li class="nav-item"><a href="/add-post" class="nav-link px-2 text-dark fw-normal">Add Post</a></li>
      <li class="nav-item"><a href="/all-category" class="nav-link px-2 text-dark fw-normal">All Category</a></li>
      <li class="nav-item"><a href="/all-post" class="nav-link px-2 text-dark fw-normal">All Post</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-dark fw-normal">About</a></li>
</ul>
</footer>