<nav class="navbar navbar-expand navbar-light shadow" style="background-color: #e3f2fd6c;">
      <div class="container-fluid">
            <div class="col-3">
                  <a class="navbar-brand" href="/">
                        <i class="fa-solid fa-compass"></i>
                        My Web Compass
                  </a>
            </div>
            <div class="col-7">
                  <form class="col-9 m-0 d-flex  m-0" method="post" action="#">
                        <input class="form-control me-2 col-sm-10" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                  </form>
            </div>

            <div class="col-2 d-flex justify-content-end">
                  <a href="/" class="btn btn-outline-dark mx-1">Home</a>
                  <a href="/about" class="btn btn-outline-dark mx-1">About</a>
                  <a href="/project" class="btn btn-outline-dark mx-1">Project</a>
                  <a href="/login" class="btn btn-outline-dark mx-1">Login</a>
                  <a href="/register" class="btn btn-outline-dark mx-1">Register</a>
            </div>
      </div>
</nav>