
<%- include('partials/_header') -%>


<body>
      <div class="containers">
            <!-- navigation -->
            <%- include('partials/_navigation') -%>

            <div class="container mt-5">

                  <div class="row justify-content-center">
                       <div class="col-3">
                        <a href="#"  class="btn btn-light m-1 fs-1" style="width: 100%;"><p ><i class="fa-brands fa-html5 logo-bigger"></i></p>Html<br>Dersleri</a>
                        <br>
                        <div class="card m-1" style="width: 100%;">
                              <div class="card-body text-center" >
                                    <p class="card-text">Aktif ders sayısı: <span class="badge bg-danger fs-5">15</span></p>
                              </div>
                        </div>
                       </div>
                        <div class="col-9">
                              <div class="card mb-2">
                                    <div class="card-body p-1">
                                          <h5 class="card-title">Html nedir</h5>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                              </div>
                              <div class="card mb-2">
                                    <div class="card-body p-1">
                                          <h5 class="card-title">Html nedir</h5>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                              </div>
                              <div class="card mb-2">
                                    <div class="card-body p-1">
                                          <h5 class="card-title">Html nedir</h5>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                              </div>
                              <div class="card mb-2">
                                    <div class="card-body p-1">
                                          <h5 class="card-title">Html nedir</h5>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                              </div>
                              <div class="card mb-2">
                                    <div class="card-body p-1">
                                          <h5 class="card-title">Html nedir</h5>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                              </div>
                              <div class="card mb-2">
                                    <div class="card-body p-1">
                                          <h5 class="card-title">Html nedir</h5>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                              </div>

                              <div class="card mb-2">
                                    <div class="card-body p-1">
                                          <h5 class="card-title">Html nedir</h5>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                              </div>
                              <div class="card mb-2">
                                    <div class="card-body p-1">
                                          <h5 class="card-title">Html nedir</h5>
                                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                              </div>


                        </div>
                  </div>



            </div>
            <!--- Content-->
            <!---footer -->
    
      </div>
</body>

</html>