
<%- include('partials/_header') -%>


<body>
      <div class="containers">
            <!-- navigation -->
            <%- include('partials/_navigation') -%>

            <div class="container mt-5" style="height: 500px;">

                  <div class="row justify-content-center">

                        <div class="col-4">
                              <div class="card" style="background: #ffffff98;">
                                    <div class="card-header">
                                          About
                                    </div>
                                    <div class="card-body">
                                          <p>
                                                şidşdasşmasdşmfşsad
                                          </p>
                                          <p class="text-muted">
                                                Hami Berkay Aktaş
                                          </p>
                                    </div>
                              </div>
                        </div>
                  </div>



            </div>
            <!--- Content-->
            <!---footer -->
            <%- include('partials/_footer') -%>
      </div>
</body>

</html>